body
{
	background: #232927;
	color: #DDDDDD;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	background-repeat: no-repeat;
	background-position: top center;
}

.nav-previous a, .nav-next a
{
	color: #DDDDDD;
}

.nav-previous
{
	float: left;
	margin-bottom: 15px;
}

.nav-next
{
	float: right;
	margin-bottom: 15px;
}

#background-image
{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}

#wrapper
{
	padding: 0;
}

.row-fluid > .post-info:first-child,
.row-fluid > .page-title-inner:first-child
{
	margin-left: 2.127659574%;
}

.row-fluid > .post-image,
.row-fluid > .post-image:last-child
{
	margin: 0;
}

.post-image-inner
{
	margin: 0;
	padding: 0;
	width: 100%;
}

.post-image:last-child
{
	float: right;
}

#blog-title,
#blog-title a
{
	color: #E16734;
	font-size: 1.75em;
	line-height: 1.25;
	font-weight: bold;
	text-align: center;
}

#blog-description
{
	line-height: 1.25;
	font-size: 1.25em;
	text-align: center;
}

.post,
.single-post,
.page-title
{
	background: #222222; /*34,34,34*/
	background: rgba(0,0,0,0.9);
	margin-top: 15px;
	margin-bottom: 15px;
}

.single-post
{
	padding: 15px;
}

.single-post .post-title,
.single-post .post-title a
{
	margin-top: 0;
}

.single-post .post-categories
{
	margin-top: 10px;
	margin-bottom: 0;
	width: 100%;
}

.post-title,
.post-date
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.25;
}

.page-title-inner
{
	line-height: 2;
}

.post-title a,
.page-title-inner
{
	color: #E16734;
	font-weight: bold;
	font-size: 1em;
}

.post-title
{
	margin-top: 10px;
}

.post-date
{
	font-size: 0.75em;
}
.post-categories
{
	font-size: 0.75em;
	margin-bottom: 10px;
}

.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
  border-top-color: #626262;
  border-bottom-color: #626262;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #626262;
}

/* responsive bootstrap turns width to auto on small screens */
/* we don't want that--we want to preserve the layout */
@media (max-width: 767px)
{
	.row-fluid > .post-image
	{
    width: 31.491712705%;
		float: left;
  }
	.row-fluid > .post-info
	{
    width: 65.74585634900001%;
  }
	.row-fluid > [class*="span"] {
		float: left;
		margin-left: 2.127659574%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px)
{
	/* mobile-first design makes this unnecessary */
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px)
{
	body
	{
		background-image: url(../img/back-480.jpg);
	}

	#wrapper
	{
		padding-top: 145px;  /* 50% of banner height */
	}
	
	.post-title,
	.page-title-inner
	{
		font-size: 1.5em;
	}
	.post-title
	{
		margin-top: 20px;
	}
	.post-date
	{
		font-size: 0.75em;
	}
	.post-categories
	{
		font-size: 0.75em;
		margin-bottom: 20px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px)
{
	body
	{
		background-image: url(../img/back-768.jpg);
	}

	#wrapper
	{
		padding-top: 231px;  /* 50% of banner height */
		padding-left: 20px;
		padding-right: 20px;
	}
	.post-title,
	.page-title-inner
	{
		font-size: 2em;
	}
	.post-title
	{
		margin-top: 30px;
	}
	.post-date
	{
		font-size: 1em;
	}
	.post-categories
	{
		font-size: 1em;
		margin-bottom: 30px;
	}
}
 
/* Only need additional padding if the navbar is fixed */
/* this happens at screens of 980px or greater */
@media (min-width: 980px)
{
	body
	{
		background-image: url(../img/back-980.jpg);
	}
	
	#wrapper
	{
		padding-top: 345px;  /* 50% of banner height plus 50px*/
	}
}

@media (min-width: 1200px)
{
	body
	{
		background-image: url(../img/back-1200.jpg);
	}
	
	#wrapper
	{
		padding-top: 411px;  /* 50% of banner height plus 50px*/
	}
}

